.header {
    max-height: 5rem;
    padding: 2rem;
    background-color: #faf9f7;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.container > * {
    margin-bottom: 2rem;
}
