/* set our own defaults and override some of the browser defaults */
html, body {
    margin: 0;
    background-color: #f1ece8;
    font-family: Arial, sans-serif;
}

body.prevent-scroll {
    overflow: hidden;
}

.sr-only {
    position: absolute;
    height: .0625rem;
    width: .0625rem;
    margin: 0;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

h1 {
    padding: 1rem 2rem;
}

.button-group {
    display: flex;
    justify-content: space-between;
}

.button-group > button:not(:last-child) {
    margin-right: 1rem;
}

button {
    min-width: 8rem;
    margin: 0;
    padding: 0;
    color: white;
    background-color: blue;
    border: 0.0625rem solid blue;
}

button:hover {
    background-color: rgba(0, 0, 255, 0.8);
    cursor: pointer;
}

button:focus-visible {
    outline: 0.125rem dashed blue;
    outline-offset: 0.125rem;
}

button.secondary {
    background-color: transparent;
    color: black;
    border: 0.0625rem solid blue;
}

div:focus-visible {
    outline: none;
}

.header {
    max-height: 5rem;
    padding: 2rem;
    background-color: #faf9f7;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.container > * {
    margin-bottom: 2rem;
}
